<header>
  <nav class="navbar fixed-top nav-shadow navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}">
          <img src="/img/logo.png" width="30" height="75%" class="d-inline-block align-top" style="margin-right:10px;" alt="">
          Better Software
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {% include nav_items.html %}
      </div>
    </div>
  </nav>
</header>