<header>
  <!-- Navigation - sm devices and larger -->
  <nav class="navbar navbar-light bg-light upper-nav d-none d-sm-flex">
    <a class="navbar-brand mx-auto" href="{{ site.url }}">Alec Roques<br/><small class="text-muted">Thoughts on Software Development, Fitness, Health, and more.</small></a>
  </nav>
  <nav class="navbar navbar-expand navbar-light bg-light lower-nav d-none d-sm-flex">
    <ul class="navbar-nav mx-auto">
      {% include nav_items.html %}
    </ul>
  </nav>

  <!-- Navigation - only visible on xs devices -->
  <nav class="navbar navbar-expand-sm navbar-light bg-light d-block d-sm-none fixed-top xs-nav">
    <a class="navbar-brand" href="{{ site.url }}">Alec Roques</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% include nav_items.html %}
      </ul>
    </div>
  </nav>

</header>