<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.url }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles-->
  <link href="{{ site.url }}/css/main.css" rel="stylesheet">
  
  <!-- see https://highlightjs.org/ -->
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>